{% extends "base.html" %}
{% load i18n %}

{% block base_content %}
<h1 class="mb-4">{% trans "IT Invoice" %}</h1>
<table class="table">
    <tbody>
        <tr>
            <th>{% trans "Invoices" %}</th>
            <th>
                {% for document in object.documents.all %}
                    <a href="{{ document.pdf.url }}" title="{{ document.pdf.name }}">
                        <i class="fas fa-file-pdf"></i>
                        {{ document.pdf.name }}
                    </a><br>
                {% empty %}
                    <i class="fas fa-times text-danger"></i>
                {% endfor %}
            </th>
        </tr>
        <tr>
            <th>{% trans "Invoice number" %}</th>
            <td>{{ object.number }}</td>
        </tr>
        <tr>
            <th>{% trans "Expenditures" %}</th>
            <td>
                {{ object.get_expenditure_display }}<br>
                {{ object.get_subject_display }}
            </td>
        </tr>
        <tr>
            <th>{% trans "Vendor" %}</th>
            <td>
                <p>
                    {{ object.vendor.name }}
                    <button class="btn btn-outline-primary btn-sm ml-5" type="button" data-toggle="collapse" data-target="#contact" aria-expanded="false" aria-controls="contactCollapse" >
                        <i class="fas fa-address-card mr-1"></i>
                        {% trans "Toggle contact" %}
                    </button>
                </p>
                <div class="collapse" id="contact">
                    <div class="card">
                        <div class="card-body">
                            <pre>{{ object.vendor.contact }}</pre>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
<!--
    vim:syntax=htmldjango
-->
