{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_js %}
<script>
    $('#newInvoiceLink').addClass('active');
    $('#id_value_0').parent().addClass("row");
    $('#id_value_0').addClass("form-control");
    $('#id_value_0').wrap("<div class='col'></div>");
    $('#id_value_1').addClass("form-control");
    $('#id_value_1').wrap("<div class='col'></div>");
    $('#div_id_invoice').addClass("custom-file");
    $('#div_id_invoice > label').attr("class", "custom-file-label");
    $('#id_invoice').attr("class", "custom-file-input");
    $('#id_invoice').unwrap();
    $("#id_invoice").change(function () {
        var fieldVal = $(this).val();
        fieldVal = fieldVal.replace("C:\\fakepath\\", "");
        if (fieldVal != undefined || fieldVal != "") {
            $(this).prev(".custom-file-label").attr('data-content', fieldVal);
            $(this).prev(".custom-file-label").text(fieldVal);
        }
    });
</script>
{% endblock %}

{% block base_content %}
<h1 class="mb-4">{% trans "New IT Invoice" %}</h1>

<button class="btn btn-outline-primary btn-sm mb-3" type="button"
    data-toggle="collapse" data-target=".contractCollapse"
    aria-controls="contractCollapse invoiceCollapse">
    {% trans "Toggle Contract / Single Invoice" %}
</button>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {{ form.name|as_crispy_field }}
            <div class="contractCollapse collapse" id="invoiceCollapse">
                {{ form.vendor|as_crispy_field }}
            </div>
        </div>
        <div class="col">
            <div class="contractCollapse collapse show" id="contractCollapse">
                {{ form.contract|as_crispy_field }}
            </div>
            <div class="contractCollapse collapse" id="invoiceCollapse">
                {{ form.expenditure|as_crispy_field }}
                {{ form.subject|as_crispy_field }}
            </div>
        </div>
    </div>
    <div class="form-group mt-2 mb-4">
        {{ form.invoice|as_crispy_field }}
    </div>
    <div class="row">
        <div class="col">
            {{ form.date|as_crispy_field }}
            {{ form.value|as_crispy_field }}
            {{ form.number|as_crispy_field }}
        </div>
        <div class="col">
            {{ form.comment|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</form>

{% endblock %}
<!--
    vim:syntax=htmldjango
-->
